/* ! Side Navbar */
.home {
  background-color: #ff9900;
  font-weight: 600;
}

.events {
  background-color: #ff9900;
  font-weight: 600;
}

.members {
  background-color: #ff9900;
  font-weight: 600;
}
