/* ! Side Navbar */
.home {
  background-color: #ff9900;
  font-weight: 600;
}
.create-blog {
  background-color: #ff9900;
  font-weight: 600;
}

.events {
  background-color: #ff9900;
  font-weight: 600;
}
.create-event {
  background-color: #ff9900;
  font-weight: 600;
}

.members {
  background-color: #ff9900;
  font-weight: 600;
}
.add-member {
  background-color: #ff9900;
  font-weight: 600;
}
